ul{
    li{
        a{
            color: white;
            font-size: 1rem;
        }
    }
}
thead{
    background-color: #F7DC6F;
}
th,td{
    font-family: 'Average Sans';font-size: 1rem;
}
.card {
    width: 40%;
    text-align: center;
    margin: auto;
  }
 
  .full-width-input {
    width: 80%;
  }